body
{
	background-image: url("C:/Users/dieyy/Desktop/site web/photos/batiment-esigelec-1.jpg");
	background-attachment: scroll;
}
p
{
	background-color: rgba();
	color : white;			/* cette instruction permet de choisir la couleur des texte */
	font-size: 1em;			/* cette instruction permet de choisir la taille des texte */
	font-family: Arial, Arial Black, Impact, Times New Roman, sans-serif;	/* cette instruction permet de choisir la police des texte */
	text-align: left;		/* allignement des textes*/
	font-style: normal;	/* cette instruction permet de paraméter l'inclinaison des textes (italique ou etc) */
}
li
{
	background-color: rgba();
	color : white;			/* cette instruction permet de choisir la couleur des texte */
	font-size: 1em;			/* cette instruction permet de choisir la taille des texte */
	font-family:  Arial, Arial Black, Impact, Times New Roman, sans-serif;	/* cette instruction permet de choisir la police des texte */
	font-style: normal;	/* cette instruction permet de paraméter l'inclinaison des textes (italique ou etc) */

}
h1,h2
{
	text-shadow: 10px 10px 6px Black; /*ombre du texte*/
	background-color: rgba();
	color : white;			
	font-size: 1em;			
	font-family:  Arial, Arial Black, Impact, Times New Roman, sans-serif;	
	text-decoration: underline;		/* cette instruction permet de souligner des textes */
	text-align: left;	/* cette instruction permet de faire un retour de ligne après insertion d'images */
	font-style: normal;	/* cette instruction permet de paraméter l'inclinaison des textes (italique ou etc) */
	

}

.Titre					/* cette instruction permet de choisir précisément une classe préalablement définie */
{

	clear: both;
	color : white;
	font-style: normal;	/* cette instruction permet de paraméter l'inclinaison des textes (italique ou etc) */	
}


section
{
	display: flex;
	margin-bottom: 20px;
}

article, aside
{
	text-align: justify;
}

article
{
	margin-right: 20px;
	flex: 3;
}

aside
{
	flex: 1.2;
	position: relative;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 0.9em;
}



div
{
	border: solid;
	border-left: all;
	border-width: 1.5px;
}